Flask
Flask-SocketIO
Flask-JWT-Extended
Flask-SQLAlchemy
Authlib
python-dotenv
requests
gunicorn
pytest
flasgger
Flask-Migrate

# Socket.IO Dependencies
python-socketio
python-engineio
simple-websocket

# SQLAlchemy Dependency
sqlalchemy

# Cryptography for Authlib
cryptography

awsebcli